{% extends 'base.html.twig' %}

{% block body %}
{% block header %}
{% endblock header %}

{% block dashboard %}
{% endblock dashboard %}
<div class="logo-login">
<svg class="mt-3 mb-3"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 362.55 262.84">
				<defs>
					<style>
					.logo-a{fill:var(--darkgrey);}
					.b{fill:var(--darkgrey);}
					.logo-c{fill:var(--darkgrey);}
					.poly{fill:var(--darkgrey);}
					</style>
				</defs>
				<title>Swann Xerri</title>
				<path class="logo-a" d="M16.49,234.34a3.2,3.2,0,0,0,.82-1.28c.12-.37.3-.55.53-.55a.6.6,0,0,1,.41.23c.11.55.26,1.65.46,3.31l.55,4.31c0,.27-.17.41-.51.41-.18,0-.34-.16-.48-.46a12.58,12.58,0,0,0-3.59-5,8,8,0,0,0-5.2-2A5.16,5.16,0,0,0,5.3,235a5.48,5.48,0,0,0-1.4,3.55,4.2,4.2,0,0,0,1.53,3.5,22.76,22.76,0,0,0,6.32,2.75A26.53,26.53,0,0,1,17,246.94,8.84,8.84,0,0,1,20,249.83a7.24,7.24,0,0,1,1.19,4,8.74,8.74,0,0,1-3,6.47,10.24,10.24,0,0,1-7.35,2.86,14.87,14.87,0,0,1-7.87-2.45,2.88,2.88,0,0,0-1,1.51c-.12.49-.32.73-.6.73s-.42-.31-.52-.93-.33-3.59-.67-8.88q.09-.27.48-.27c.23,0,.42.16.55.5Q4.7,262.2,11,262.2a6.42,6.42,0,0,0,4.91-1.89A6.13,6.13,0,0,0,17.7,256a5.48,5.48,0,0,0-.95-3.11,7.05,7.05,0,0,0-2.52-2.29,28.66,28.66,0,0,0-5-1.94A20,20,0,0,1,3.36,246a7.77,7.77,0,0,1-2.3-2.81,7.08,7.08,0,0,1-.73-3,7,7,0,0,1,2.75-5.4,10.08,10.08,0,0,1,6.77-2.36,11.41,11.41,0,0,1,3.17.48A17.54,17.54,0,0,1,16.49,234.34Z" transform="translate(-0.14 -0.39)" />
				<path class="logo-a" d="M43.69,263.23H43q-1.09-2.37-2.55-5.88T35.55,246A86.37,86.37,0,0,0,31,236.7a7.84,7.84,0,0,0-1.94-2.11,3.88,3.88,0,0,0-1.58-.64c-.48,0-.71-.19-.71-.42s.58-.43,1.74-.43h10c.93,0,1.39.14,1.39.43s-.23.41-.68.42c-2,.11-3,.88-3,2.32a5.11,5.11,0,0,0,.25,1.31q.26.82,3.27,8.13t4.78,11.12q.7-1.77,3-8.56t2.76-8.53q-1.65-4.41-2.41-5a4.52,4.52,0,0,0-2.1-.72c-.62-.06-.94-.22-.94-.48s.56-.46,1.67-.46H56.4a4.86,4.86,0,0,1,1.13.08.38.38,0,0,1,.22.4c0,.22-.39.39-1.17.53-1.67.26-2.5,1.07-2.5,2.42q0,3.21,7.26,20c1-2.45,1.89-5,2.81-7.59l2.46-7a39.92,39.92,0,0,0,1.23-3.83,7.55,7.55,0,0,0,.15-1.42c0-1.84-1-2.77-2.89-2.8-.43,0-.64-.16-.64-.42a.33.33,0,0,1,.21-.35,4.81,4.81,0,0,1,1.17-.08H71.4c1.66,0,2.61,0,2.85.05a.37.37,0,0,1,.35.42c0,.24-.17.36-.52.38a4.78,4.78,0,0,0-3.94,2.74q-1.42,2.56-6.41,16.93-2.62,7.56-3.52,9.61h-.63q-1.86-5-3.6-9.2t-4.93-12.26Z" transform="translate(-0.14 -0.39)" />
				<path class="logo-a" d="M89.65,232.12h1A191.91,191.91,0,0,1,97.76,250a80.12,80.12,0,0,0,4,10A4.16,4.16,0,0,0,105.2,262c.51,0,.76.22.76.51s-.13.32-.39.32l-.32,0c-1.41-.12-3.19-.18-5.36-.18q-5,0-6.41.16c-.47,0-.71-.14-.71-.41s.18-.32.53-.37a6.46,6.46,0,0,0,2.69-.66,1.65,1.65,0,0,0,.74-1.51A21.78,21.78,0,0,0,95.34,255L94,251q-1.18,0-10.64.13c-1.59,4.23-2.39,6.89-2.39,8a2.26,2.26,0,0,0,1.18,2.08,5.24,5.24,0,0,0,2.32.74c.57,0,.85.22.85.52q0,.18-.27.33c-2.45-.11-3.92-.16-4.42-.16-2.56,0-4.29,0-5.17.09-.49,0-.74-.14-.74-.41s.22-.4.64-.46q2.64-.35,4-3.57t4.35-11.6Q86.45,239.1,89.65,232.12Zm-.92,5a114.15,114.15,0,0,0-5,12.62c1.57-.07,2.7-.11,3.39-.11l6.43.11c-.56-1.58-1.36-3.69-2.38-6.31Q89.33,238.73,88.73,237.11Z" transform="translate(-0.14 -0.39)" />
				<path class="logo-a" d="M119,232.87c.91,1.24,2.5,3.15,4.76,5.75L131,247.1l7.05,8.15c.16-2.76.23-6.35.23-10.75q0-5-.2-6.65a4.37,4.37,0,0,0-1.53-2.83,4.82,4.82,0,0,0-3.28-1.14c-.61,0-.92-.13-.92-.39a.35.35,0,0,1,.2-.33,21,21,0,0,1,3.08-.21c1.92-.06,3.54-.1,4.85-.1l3.09,0h.5c.48,0,.71.14.71.4s-.2.38-.61.43a5.74,5.74,0,0,0-3.33,1.2,4.22,4.22,0,0,0-1.22,2.74q-.19,1.79-.19,12l-.23,12.08c0,.61-.15.92-.45.92a.68.68,0,0,1-.31-.1,23.5,23.5,0,0,1-2.06-2.31c-1.23-1.48-2.76-3.24-4.56-5.3s-3.24-3.73-4.27-5c-2.28-2.76-3.71-4.46-4.31-5.1a39.72,39.72,0,0,1-3.91-4.53c-.26-.46-.5-.69-.71-.69s-.25.3-.25.9l0,3.54c0,4.5.13,8.09.37,10.78a17.47,17.47,0,0,0,.77,4.72A4.82,4.82,0,0,0,121,261a3.62,3.62,0,0,0,2.12.71c1,0,1.51.18,1.51.55s-.28.41-.85.41l-11,0c-.52,0-.77-.13-.77-.38s.25-.46.75-.46c1.88,0,3.13-.42,3.75-1.25s.94-2.6.94-5.29l-.19-8q0-7.11-.38-8.38a10.84,10.84,0,0,0-1.75-3.09,4.66,4.66,0,0,0-3.1-2c-.52-.07-.78-.2-.78-.42s.34-.43,1-.43Z" transform="translate(-0.14 -0.39)" />
				<path class="logo-a" d="M157.87,232.87c.91,1.24,2.5,3.15,4.76,5.75L170,247.1l7.05,8.15c.16-2.76.23-6.35.23-10.75q0-5-.2-6.65A4.37,4.37,0,0,0,175.5,235a4.82,4.82,0,0,0-3.28-1.14c-.61,0-.92-.13-.92-.39a.35.35,0,0,1,.2-.33,21,21,0,0,1,3.08-.21c1.92-.06,3.54-.1,4.85-.1l3.09,0h.5c.48,0,.71.14.71.4s-.2.38-.61.43a5.74,5.74,0,0,0-3.33,1.2,4.22,4.22,0,0,0-1.22,2.74q-.19,1.79-.19,12l-.23,12.08c0,.61-.15.92-.45.92a.68.68,0,0,1-.31-.1,23.5,23.5,0,0,1-2.06-2.31c-1.23-1.48-2.76-3.24-4.56-5.3s-3.24-3.73-4.27-5c-2.28-2.76-3.71-4.46-4.31-5.1a39.72,39.72,0,0,1-3.91-4.53c-.26-.46-.5-.69-.71-.69s-.25.3-.25.9l0,3.54c0,4.5.13,8.09.37,10.78a17.47,17.47,0,0,0,.77,4.72,4.82,4.82,0,0,0,1.39,1.41,3.62,3.62,0,0,0,2.12.71c1,0,1.51.18,1.51.55s-.28.41-.85.41l-11,0c-.51,0-.77-.13-.77-.38s.25-.46.75-.46c1.88,0,3.13-.42,3.76-1.25s.93-2.6.93-5.29l-.18-8q0-7.11-.39-8.38a10.84,10.84,0,0,0-1.75-3.09,4.66,4.66,0,0,0-3.1-2c-.52-.07-.78-.2-.78-.42s.34-.43,1-.43Z" transform="translate(-0.14 -0.39)" />
				<path class="logo-a" d="M221.91,245q1.13-1.35,3-4.09a33.27,33.27,0,0,0,2.29-3.51,3.29,3.29,0,0,0,.37-1.4,1.72,1.72,0,0,0-.88-1.54,4.21,4.21,0,0,0-1.91-.61c-.66,0-1-.21-1-.5s.47-.39,1.42-.39h9.59a5.29,5.29,0,0,1,1.18.07.31.31,0,0,1,.22.34c0,.26-.29.4-.87.44a7,7,0,0,0-3.91,1.41,30.18,30.18,0,0,0-5,5.69q-3.23,4.37-3.59,5.1,6.66,10,9.4,12.91c1.84,2,3.52,3,5.06,3.05.55,0,.83.19.83.5s-.29.39-.87.39c-.25,0-.87,0-1.88-.09-1.43-.09-2.78-.14-4-.14q-3.2,0-6.11.14l-.73,0c-.73,0-1.1-.13-1.1-.39s.2-.46.59-.46c1.94,0,2.91-.6,2.91-1.81s-2.24-4.82-6.73-10.66a46.19,46.19,0,0,0-3.67,4.95q-2.94,4.28-2.94,5.37c0,.52.37,1,1.11,1.37a7.09,7.09,0,0,0,2.82.74c.57,0,.85.19.85.44s-.27.43-.8.43l-.85,0-4.67-.11c-2.74,0-4.63,0-5.65.16q-1,0-1-.45c0-.28.23-.42.71-.42a7,7,0,0,0,2.85-.57,6.28,6.28,0,0,0,2.17-1.57q.89-1,3.9-5.27c2-2.84,3.41-4.88,4.19-6.12q-7.87-11.49-9.69-13a7.08,7.08,0,0,0-4.13-1.61c-.42,0-.62-.18-.62-.45s.38-.4,1.14-.4h12a3.92,3.92,0,0,1,1,.08.41.41,0,0,1,0,.69,7.35,7.35,0,0,1-1.51.17,2.47,2.47,0,0,0-1.33.49,1.24,1.24,0,0,0-.55,1c0,.44.74,1.79,2.2,4A57,57,0,0,0,221.91,245Z" transform="translate(-0.14 -0.39)" />
				<path class="logo-a" d="M268.42,233a66.05,66.05,0,0,1,1.3,7.18c-.07.12-.15.19-.24.19a.54.54,0,0,1-.34-.19,18.57,18.57,0,0,0-3-3.86,9.22,9.22,0,0,0-2.9-1.89,15.36,15.36,0,0,0-5-.56,28.21,28.21,0,0,0-5.29.39,1.41,1.41,0,0,0-.18.84c0,.11,0,.3-.05.57q-.23,1.83-.23,9.91c0,.23,0,.55,0,1,1.16.05,2,.07,2.38.07a7.79,7.79,0,0,0,4.18-.86,7.08,7.08,0,0,0,2.26-3.71c.11-.32.26-.49.45-.49s.43.23.43.67l-.09.92c-.12,1.2-.18,2.45-.18,3.73,0,2.08,0,3.95.11,5.62,0,.52-.13.78-.42.78s-.34-.19-.42-.55a6,6,0,0,0-2-3.89q-1.53-1.19-6.68-1.19c0,1.11-.07,2.91-.07,5.4a33.07,33.07,0,0,0,.34,6.13,3.36,3.36,0,0,0,1.65,2.07,9.3,9.3,0,0,0,4.42.77q8.91,0,11.5-6.13c.21-.51.43-.76.66-.76s.36.17.36.5a2,2,0,0,1-.11.6c-.09.29-.32,1.37-.67,3.25q-.1.59-.87,3.57l-9.59,0c-1.37,0-3.39-.05-6-.17s-5-.17-7.08-.18a18.29,18.29,0,0,1-3.21-.13.33.33,0,0,1-.14-.25c0-.3.25-.46.76-.46,1.69,0,2.8-.45,3.34-1.35s.8-3.08.8-6.56l0-4.68.06-4.39c0-.88,0-2.56-.14-5a39.27,39.27,0,0,0-.28-4.21,2,2,0,0,0-.71-1,7,7,0,0,0-2.57-1q-.6-.17-.6-.51c0-.27.27-.41.8-.41l4.67.25q2.48.12,12.16.12C266.16,233,268.33,233,268.42,233Z" transform="translate(-0.14 -0.39)" />
				<path class="logo-a" d="M295.81,247.32a12,12,0,0,1,4.43,2.88,10.35,10.35,0,0,1,1.83,4.64c.51,2.74,1.23,4.59,2.14,5.53a5,5,0,0,0,3.58,1.51c.41,0,.61.18.61.45s-.23.4-.71.4q-6.4,0-7.77-.42t-2-4.68a35.2,35.2,0,0,0-1.3-6,5.71,5.71,0,0,0-2.15-2.93,8.22,8.22,0,0,0-4.61-1,16.41,16.41,0,0,0-2.7.25c-.08,1-.12,2-.12,3,0,3.92.06,6.45.16,7.6a3.17,3.17,0,0,0,3.69,3.34c.55,0,.82.15.82.4s-.33.45-1,.45H279.36q-1,0-1-.45c0-.26.26-.4.78-.4a4.07,4.07,0,0,0,2.41-.52,3.48,3.48,0,0,0,1.07-1.64,13.82,13.82,0,0,0,.39-4l0-4.66,0-7.11a63.41,63.41,0,0,0-.25-7.2,4.24,4.24,0,0,0-.85-2.37,5.74,5.74,0,0,0-2.86-.94c-.33-.05-.49-.18-.49-.39s.33-.37,1-.37l13.55-.3q5.61,0,8.14,2.15a6.8,6.8,0,0,1,1.51,8.85,6.44,6.44,0,0,1-2.42,2.35A27.33,27.33,0,0,1,295.81,247.32Zm-8.67-.58a33.43,33.43,0,0,0,6.59-.62,7,7,0,0,0,3.74-2.31,6.26,6.26,0,0,0,1.55-4.23,6.52,6.52,0,0,0-1.72-4.51q-1.71-1.92-5.49-1.92a21.14,21.14,0,0,0-4.56.55q-.27,6.28-.27,10C287,244.57,287,245.58,287.14,246.74Z" transform="translate(-0.14 -0.39)" />
				<path class="logo-a" d="M331.31,247.32a12,12,0,0,1,4.43,2.88,10.35,10.35,0,0,1,1.83,4.64c.51,2.74,1.23,4.59,2.14,5.53a5,5,0,0,0,3.58,1.51c.41,0,.61.18.61.45s-.23.4-.71.4q-6.4,0-7.77-.42t-2-4.68a35.2,35.2,0,0,0-1.3-6,5.71,5.71,0,0,0-2.15-2.93,8.22,8.22,0,0,0-4.61-1,16.41,16.41,0,0,0-2.7.25c-.08,1-.12,2-.12,3,0,3.92.06,6.45.16,7.6a3.17,3.17,0,0,0,3.69,3.34c.55,0,.82.15.82.4s-.33.45-1,.45H314.86q-1,0-1-.45c0-.26.26-.4.78-.4a4.07,4.07,0,0,0,2.41-.52,3.48,3.48,0,0,0,1.07-1.64,13.82,13.82,0,0,0,.39-4l0-4.66,0-7.11a63.41,63.41,0,0,0-.25-7.2,4.24,4.24,0,0,0-.85-2.37,5.74,5.74,0,0,0-2.86-.94c-.33-.05-.49-.18-.49-.39s.33-.37,1-.37l13.55-.3q5.61,0,8.14,2.15a6.8,6.8,0,0,1,1.51,8.85,6.44,6.44,0,0,1-2.42,2.35A27.33,27.33,0,0,1,331.31,247.32Zm-8.67-.58a33.43,33.43,0,0,0,6.59-.62,7,7,0,0,0,3.74-2.31,6.26,6.26,0,0,0,1.55-4.23,6.52,6.52,0,0,0-1.72-4.51q-1.71-1.92-5.49-1.92a21.14,21.14,0,0,0-4.56.55q-.27,6.28-.27,10C322.48,244.57,322.53,245.58,322.64,246.74Z" transform="translate(-0.14 -0.39)" />
				<path class="logo-a" d="M351,232.48l4.18.1,6.4-.1c.76,0,1.14.16,1.14.46s-.2.38-.61.44q-2.55.31-3.18,1.83c-.42,1-.62,4.73-.62,11.16q0,3.56.18,8a39.42,39.42,0,0,0,.41,5.3,2.68,2.68,0,0,0,.87,1.42,4.71,4.71,0,0,0,2.38.78c.38,0,.57.19.57.43s-.17.42-.52.42l-5.69,0-4.84.07c-.54,0-.8-.15-.8-.46s.21-.48.64-.48c1.42,0,2.25-.5,2.49-1.42s.37-3.83.37-8.76q0-7.14-.13-11.55t-.74-5.4a3.11,3.11,0,0,0-2.34-1.24c-.42-.07-.64-.25-.64-.52S350.65,232.48,351,232.48Z" transform="translate(-0.14 -0.39)" />
				<path class="b" d="M82.15,9.33a32.82,32.82,0,0,0-6.23,4.29,30.28,30.28,0,0,0-4.51,5A49.72,49.72,0,0,1,82.15,9.33Z" transform="translate(-0.14 -0.39)" />
				<path class="poly"  d="M127,184.84a58.58,58.58,0,0,0,21-10.18,49.57,49.57,0,0,0,13.75-16.54,47.28,47.28,0,0,0,5-21.88q0-18.06-9.52-30.14T130.36,87.65c-3.22-1.18-6.31-2.29-9.27-3.3s-5.89-2-8.76-2.93-5.8-1.91-8.76-2.93-6.14-2.2-9.52-3.56Q81.09,70.1,73,62a26.9,26.9,0,0,1-4-5.1A25.07,25.07,0,0,1,63.1,41.93a33.08,33.08,0,0,1,8.31-23.36,30.28,30.28,0,0,1,4.51-5,32.82,32.82,0,0,1,6.23-4.29A69.85,69.85,0,0,1,99.93,1.11l1-.64A83.58,83.58,0,0,0,80,3.57a57.15,57.15,0,0,0-19.55,9.79A48.66,48.66,0,0,0,47,29.9q-5,9.93-5,23.66A42.25,42.25,0,0,0,44.73,69a52.76,52.76,0,0,0,7.39,13.23A51.32,51.32,0,0,0,62.81,92.61a54.89,54.89,0,0,0,12.72,7q5.86,2.3,10.06,3.69c2.8.93,5.51,1.87,8.15,2.8s5.47,1.91,8.52,2.92,6.62,2.29,10.7,3.82a101.12,101.12,0,0,1,11.45,5.09,37.57,37.57,0,0,1,9.29,6.74,29.38,29.38,0,0,1,6.24,9.28,31.43,31.43,0,0,1,2.29,12.47q0,17.55-11.71,27.86a36.56,36.56,0,0,1-4.44,3.31,69.23,69.23,0,0,1-20.7,10.4A98.59,98.59,0,0,0,127,184.84Z" transform="translate(-0.14 -0.39)" />
				<path class="logo-c" d="M104.77,188l.29.07.32-.09Z" transform="translate(-0.14 -0.39)" />
				<path class="logo-c" d="M102.23,188.08h2.83l-.29-.07C103.93,188,103.08,188.07,102.23,188.08Z" transform="translate(-0.14 -0.39)" />
				<path class="logo-c" d="M101,.42l-.07,0,1.32,0Z" transform="translate(-0.14 -0.39)" />
				<polygon class="poly" points="284.9 187.72 316.91 187.72 300.52 161.94 284.9 187.72" />
				<polygon class="poly" points="313.88 0.04 285.13 0.04 299.33 23.41 313.88 0.04" />
				<polygon class="poly" points="193.96 0.04 166.05 0.04 225.04 93.42 165.84 187.69 193.89 187.69 253.11 93.42 193.96 0.04" />
				<path class="logo-c" d="M103.28.39c-.35,0-.69,0-1,0h2.63C104.34.42,103.83.39,103.28.39Z" transform="translate(-0.14 -0.39)" />
				<path class="poly" d="M41.06,161.86l.36,23.75v2.47H67.77C48.77,188.08,41.06,161.86,41.06,161.86Z" transform="translate(-0.14 -0.39)" />
			</svg>
</div>
<form class="form-login" action="{{ path('login') }}" method="post">
    
    <div class="form-group">
    <label for="username">Nom d'utilisateur:</label>
    {# L'underscore est indispensable pour le name / Mécanique de Symfony #}
    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}">
    <label for="password">Mot de passe:</label>
    <input type="password" class="form-control" id="password" name="_password">
    <input type="hidden" class="form-control" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}
    <button type="submit" class="btn btn-primary mt-3" >Se connecter</button>
    <p class="mt-3">
        <a href="{{ url('lostpw') }}">J'ai oublié mon mot de passe.</a>{{ "\n" | nl2br }}
		<a href="{{ url('home') }}">Retour à l'accueil</a>
    </p>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    </div>
</form>

{% endblock %}