{% extends 'base.html.twig' %}

{% block body %}


<form class="form-login" action="{{ path('login') }}" method="post">
    <div class="form-group">
    <label for="username">Nom d'utilisateur:</label>
    {# L'underscore est indispensable pour le name / Mécanique de Symfony #}
    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}">
    <label for="password">Mot de passe:</label>
    <input type="password" class="form-control" id="password" name="_password">
    <input type="hidden" class="form-control" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}
    <button type="submit" class="btn btn-primary mt-3" >Se connecter</button>

    <a href="{{ url('lostpw') }}">J'ai oublié mon mot de passe.</a>

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    </div>
</form>

{% endblock %}