{% extends 'base.html.twig' %}

{% block title %}Liste des vidéos{% endblock %}

{% block body %}
<div class="container-fluid">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
        <h1 class="h2">Liste des vidéos</h1>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Vidéo</th>
                <th>Description</th>
                <th>Durée</th>
                <th>Date de publication</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.id }}</td>
                <td>{{ video.title }}</td>
                <td>{{ video.video | raw }}</td>
                <td>{{ video.description }}</td>
                <td>{{ video.length }}</td>
                <td>{{ video.datePublication ? video.datePublication|date('d/m/Y H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary my-1" href="{{ path('video_show', {'id': video.id}) }}">Afficher</a>
                    <a class="btn btn-primary my-1" href="{{ path('video_edit', {'id': video.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        </main>
  </div>
</div> {# end container-fluid #}
{% endblock %}
