{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}


{% block body %}
    <h1>Liste des articles du blog</h1>
    <p>{{ app.user.username }}</p>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Image</th>
                <th>Contenu</th>
                <th>Date de publication</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blog in blogs %}
            <tr>
                <td>{{ blog.id }}</td>
                <td>{{ blog.title }}</td>
                <td><img src="/{{ blog.image }}" class="img-fluid"></td>
                <td>{{ blog.content | striptags | slice (0, 50) }}...</td>
                <td>{{ blog.publicationDate ? blog.publicationDate|date('d/m/Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('blog_show', {'id': blog.id}) }}">Afficher</a>
                    <a href="{{ path('blog_edit', {'id': blog.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune entrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="nav-links">
        <a class="nav-add" href="{{ path('blog_new') }}">Ajouter un nouvel article</a>
        <a class="nav-users" href="{{ url("admin_login_index") }}">Liste des utilisateurs</a>
        <a class="nav-users" href="{{ url("video_index") }}">Liste des vidéos</a>
        <a class="nav-logout" href="{{ url("logout") }}">Se déconnecter</a>
    </div>

{% endblock %}
