{% extends 'front-base.html.twig' %}

{% block title %}Liste des articles{% endblock %}
{% block body %}

{% for blog in blogs %}
    <section>   

        <figure><img src={{ blog.image }} alt="photo" width="300px"></figure>
        
         <h3>{{ blog.title }}</h3>
         <p>{{ blog.publicationDate ? blog.publicationDate|date('D-M-Y H:i:s') : "" }}</p>
         <p>{{ blog.content | slice (0, 50) | raw }}...</p>  

         <a href="{{ path('blog_show', {'id': blog.id}) }}">Lire l'article</a>
             
    </section>
{% endfor %}

{% endblock body %}

