{% extends 'front-base.html.twig' %}

{% block title %}Liste des articles{% endblock %}
{% block body %}


    <section id="blog-page" class="flex-center">   
    {% for blog in blogs %}
        <article>
            <figure><img src={{ blog.image }} alt="photo" width="300px">
                <figcaption>
                    <time>{{ blog.publicationDate ? blog.publicationDate|date('D-M-Y') : "" }}</time>
                    <h3>{{ blog.title }}</h3>
                    <p>{{ blog.content | slice (0, 80) | raw }}...</p>  
                    <a href="{{ path('blog_show', {'id': blog.id}) }}">Lire l'article</a>
                </figcaption>
            </figure>
        </article>
    {% endfor %}
    </section>


{% endblock body %}

