{% extends 'front-base.html.twig' %}

{% block title %}Blog - Swann Xerri{% endblock %}
{% block body %}

    <main id="blog-page">   
            <section class="cover cover-single cover-blog">
                <div class="cover-single__text">
                    <h1 class="page-single-h1">Articles</h1>
                </div>
            </section> 
            <section class="mtb" >
                <div class="container-center cflex">   
                        {# <section class="content-row">   #}
                        {% for blog in blogs %}
                        {# <a href="#"> #}
                            <article class="card">
                                <figure><img src={{ blog.image }} alt="photo" width="300px">
                                    <figcaption>
                                        <time>{{ blog.publicationDate ? blog.publicationDate|date('d M Y') : "" }}</time>
                                        <h3 class="post-title">{{ blog.title }}</h3>
                                        <p>{{ blog.content | slice (0, 188) | raw }}...</p>  
                                        <a class="read-more" href="{{ path('blog_show_id', {'id': blog.id}) }}">Lire l'article</a>
                                    </figcaption>
                                </figure>
                            </article>
                        {# </a> #}
                        {% endfor %}
                        {# </section> #}
                </div>{# end container center #} 
            </section>
    </main>


{% endblock body %}

