{% extends 'front-base.html.twig' %}

{% block title %}Accueil - Swann Xerri{% endblock %}

{% block body %}
    <section class="cover">
		<div class="cover-left">
		</div>
		<div class="cover-right">
			<div class="cover__caption">
					<h1>Votre vie est unique...<br class="break" >Prenez-la en main !</h1>
					{# <p>It’s time to shake things up and how you can begin to change your life for the better.</p> #}
			</div>
		</div>
	</section>
	
	<section class="about">
		<div class="about__left flexitem-auto">
			<figure class="about__left__figure">
				<img class="about__left__image" src="/assets/img/swann_4.jpg" alt="Swann Xerri">
			</figure>
		</div>
		<div class="about__right flexitem-auto">
			<div class="about__copy">
				<h2>Swann Xerri</h2>
				<p class="subtitle">Atteignez vos objectifs.</p>
				<p>Expert en leadership et performance, Swann Xerri a déjà formé de nombreux entrepreneurs dans différents pays. 
				Lui-même entrepreneur à succès et conférencier international, il se nourrit de son expérience et de ses nombreuses rencontres pour mettre en place des clés du succès pratiques et applicables au quotidien.</p> {{ "\n" | nl2br }}
				<p>Swann est l’auteur du programme en développement personnel « Architecte de ta vie » et a écrit de nombreux articles sur l’épanouissement et la réussite personnelle.
				Fervent promoteur du potentiel humain et passionné par la recherche et la transmission du savoir, Swann propose au sein de ses interventions une approche basée sur les dernières découvertes en neurosciences comportementales et cognitives.
				</p>
			</div>
		</div>	
	</section>

    <section class="coaching">
		<div class="container-center cflex">
			<div class="mb-3 title-section w100">
				<h2 class="">Comment puis-je vous aider ?</h2>
				<p class="subtitle">Bénéficiez d'une prise en main adaptée à votre situation.</p>
			</div>
			<div class="card-coaching">
				<figure>
					<img class="coaching__image"src="/assets/img/entreprise.jpg" alt="Coaching en Entreprise">
				</figure>
				<div class="coaching__copy">
					<h3 class="post-title">Vous êtes un professionnel</h3>
					<p>Et si vous donniez un nouvel élan à votre carrière professionnelle tout en développant vos qualités personnelles ?</p>
					<p>Bénéficiez d'un accompagnement en management, communication, leadership qui vous donnera les clés de la performance au bénéfice de l'entreprise.</p>
					<a href="{{ url("professionnel") }}"><button class="read-more">EN SAVOIR PLUS</button></a>
				</div>
			</div>
			<div class="card-coaching">
				<figure>
					<img class="coaching__image"src="/assets/img/personnel.jpg" alt="Coaching Personnel">
				</figure>
				<div class="coaching__copy">
					<h3 class="post-title">Vous êtes un particulier</h3>
					<p>Besoin d'un petit coup de pouce pour libérer votre potentiel ? Ou pour vous libérer de vos pensées négatives ?</p>
					<p>Épanouissez-vous en découvrant la personne que vous êtes et acquérez la confiance en soi nécessaire pour déterminer votre avenir. N'hésitez plus : agissez !</p>
					<a href="{{ url("particulier") }}"><button class="read-more">EN SAVOIR PLUS</button></a>
				</div>
			</div>				
		</div>{# end container center #}
	</section>

    <section class="formation">
		<div class="formation__left flexitem-auto">
			<div class="formation__copy">
				<h2>e-Formation</h2>
				<p>Formez-vous à votre rythme grâce à nos packs de coaching vidéo !
				</p>
				<a href="{{ url("formation") }}"><button class="read-more">EN SAVOIR PLUS</button></a>
			</div>			
		</div>
		<div class="formation__right flexitem-auto">
			<figure class="formation__left__figure">
				<img class="formation__left__image" src="/assets/img/home-formation.jpg" alt="Swann Xerri">
			</figure>			
		</div>
	</section>

     <section class="cta-ebook">
		<div class="cta-ebook__copy">
			<h1>Recevez mon ebook gratuit</h1>
			<p>“Qu'est-ce que le charisme ?”</p>
		</div>

		{{ include('ebook/_form.html.twig') }}
		{# <form class="cta-ebook__form"action="">
		<input class="cta-ebook__input" type="email" placeholder="Entrez votre adresse email"><!--
		--><input class="cta-ebook__submit" type="submit" value="Envoyer">
		</form> #}



	</section>

    <section class="video">
		<div class="container-center cflex">
			<div class="mb-3 title-section w100">
				<h2 class="">Conseils d'ami</h2>
				<p class="subtitle">Pour vous rendre la vie plus légère, voici quelques conseils d'ami</p>
			</div>
			
			<div class="card-video">
				<iframe width="100%"  src="https://www.youtube.com/embed/aN9ZqoZ5LjU" frameborder="0" height="300px" controls="2" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="card-video">
				<iframe width="100%"  src="https://www.youtube.com/embed/3SPbAqmvgCY" frameborder="0"height="300px" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="card-video">
				<iframe width="100%"  src="https://www.youtube.com/embed/4J477Hp138Q" frameborder="0"height="300px" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			{# <button class="button buttonflex">YouTube</button>			 #}
		</div>{# end container center #}
	</section>

	<section class="blog">
		<div class="container-center cflex">
			<div class="mb-3 title-section w100">
				<h2 class="">Conseils pour transformer votre vie</h2>
				<p class="subtitle">
				Achieve your personal goals with life coaching.
				</p>
			</div>
			<div class="card">
				<img class="card__image"src="https://source.unsplash.com/category/nature/400x260" alt="Nature">
				<div class="card__copy">
					<h3 class="post-title">Comment faire face aux pensées négatives…</h3>
					<a href="#"><button class="read-more">EN SAVOIR PLUS</button></a>
				</div>
			</div>
			<div class="card">
				<img class="card__image"src="https://source.unsplash.com/category/food/400x260" alt="Nature">
				<div class="card__copy">
					<h3 class="post-title">Comment faire face aux pensées négatives…</h3>
					<a href="#"><button class="read-more">EN SAVOIR PLUS</button></a>
				</div>
			</div>
			<div class="card">
				<img class="card__image"src="https://source.unsplash.com/category/people/400x260" alt="Nature">
				<div class="card__copy">
					<h3 class="post-title">Comment faire face aux pensées négatives…</h3>
					<a href="#"><button class="read-more">EN SAVOIR PLUS</button></a>
				</div>
			</div>				
		</div>{# end container center #}
	</section>

	<section class="feedback">
		<div class="container-center cflex">
			<div class="mb-3 title-section w100">
				<h2 class="">Témoignages</h2>
				<p class="subtitle">
				Achieve your personal goals with life coaching.
				</p>
			</div>
			<div class="card-feedback">			
				<div class="card-feedback__copy">
					<p class="card-feedback__text">Je me sentais coincée dans mes relations au travail et ne parvenais pas à me sentir intégrée à l’équipe. Après plusieurs sessions de coaching avec Swann, j’ai pris confiance en moi, accepté mes défauts et reconnu mes qualités. Je suis devenu plus déterminée et volontaire. Je râle moins, j’évite de laisser s’entasser des incompréhensions. Je fais désormais totalement partie de l’équipe et je vis pleinement tous mes projets ! </p>
				</div>
				<div class="card-feedback__title">
					<div class="card-feedback__image">
						<figure>
							<img src="/assets/img/user2.jpg" alt="">
						</figure>
					</div>
					<div class="card-feedback__name">
						<h5>Sophie</h5>
						<small>Etudiante</small>
					</div>
				</div>
			</div>
			<div class="card-feedback">
				<div class="card-feedback__copy">
				<p class="card-feedback__text">Grâce à ce coaching j’ai appris à penser à moi et accepter que « tout » ne puisse pas être sous contrôle. J’ai fait le point sur ma charge de travail et mis en place de nouveaux engagements avec moi-même ; plus réalistes. Je suis plus sereine dans mon activité professionnelle de gérante de société et aussi plus efficace. Je poursuis maintenant mon chemin en explorant d’autres parties de ma vie. »
				</p>
				</div>
				<div class="card-feedback__title">
					<div class="card-feedback__image">
						<figure>
							<img src="/assets/img/user1.jpg" alt="">
						</figure>
					</div>
					<div class="card-feedback__name">
						<h5>Olivia</h5>
						<small>Directrice commerciale</small>
					</div>
				</div>
			</div>
			<div class="card-feedback">
				<div class="card-feedback__copy">
				<p class="card-feedback__text">Swann est une coach qui mêle de façon savante la beauté des mots et des suggestions, la puissance de sa douceur et sa sagesse, et la finesse de ses propos pertinents. Je vous la recommande avec tout mon coeur.
				J’ai travaillé avec lui pour préparer un rdv important, plein d’enjeux. Cet accompagnement était une réussite sur différents plans. Il m’a permis de libérer mon énergie, ma créativité et ma joie de vivre. Bravo, coach! »</p>
				</div>
				<div class="card-feedback__title">
					<div class="card-feedback__image">
						<figure>
							<img src="/assets/img/user3.jpg" alt="">
						</figure>
					</div>
					<div class="card-feedback__name">
						<h5>Nathalie</h5>
						<small>Profession libérale</small>
					</div>
				</div>
			</div>				
		</div>{# end container center #}
	</section>
	
    <section class="cta">
		<div class="cta__text">
				<h1>Besoin d'un conseil ? </h1>
				<h3>Vous souhaitez gagner en performance professionnelle ou en épanouissement personnel ?</h3>
				<h3>Permettez-moi de vous aider</h3>
				<a href="{{ url("contact") }}" class="button">Contactez-moi !</a>
			</div>
	</section>

	<section class="brand">
		<figure>
		<img src="/assets/img/brand-1.png" alt="brand 1">
		</figure>
		<figure>
		<img src="/assets/img/brand-2.png" alt="brand 1">
		</figure>
		<figure>
		<img src="/assets/img/brand-3.png" alt="brand 1">
		</figure>
		<figure>
		<img src="/assets/img/brand-4.png" alt="brand 1">
		</figure>
	</section>
{% endblock %}
