{% extends 'front-base.html.twig' %}

{% block title %}Espace Membres{% endblock %}
{% block body %}    
    <main id="membres-page">
         
    <section class="cover cover-single cover-membres">
            <div class="cover-single__text">
                <p>{{ "Vous êtes connecté(e)\nBonjour, " | nl2br }} {{ app.user.username }} {{ "\n" | nl2br }}<a class="nav-logout" href="{{ url("logout") }}">Se déconnecter</a></p>
				<h1 class="page-single-h1">Bienvenue dans votre espace membre</h1>
            </div>
        </section>  
        <section class="mtb">   
            <div class="container-center cflex">
            {% for video in videos %}
                <article class="card">
                    {{ video.video | raw }}
                    <p>Ajoutée le {{ video.datePublication ? video.datepublication|date('d/m/Y H:i') : "" }}</p>
                    <h3 class="post-title">{{ video.title }}</h3>    
                    <p>{{ video.description }}</p>                
                    <p>Durée : {{ video.length }}</p>
                </article>
            {% endfor %}

            </div>{# end container center  #}
        </section>

    </main>

{% endblock %}
