{% extends 'front-base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}

    <section>   

        <figure><img src={{ asset(blog.image) }} alt="photo" width="300px"></figure>
        
         <h3>{{ blog.title }}</h3>
         <p>{{ blog.publicationDate ? blog.publicationDate|date('d/m/Y H:i') : "" }}</p>
         <p>{{ blog.content | raw }}</p>  

         <a href="{{ path('blog') }}">Retour</a>
             
    </section>

{% endblock %}